- if @course.yearlong == true
  %th 1st Q
  %th 2nd Q
  %th 3rd Q
  %th 4th Q
- elsif @course.sem == 1
  %th 1st Q
  %th 2nd Q
- elsif @course.sem == 2
  %th 3rd Q
  %th 4th Q
- elsif @course.sem == 3
  %th 1st Q
  %th 3rd Q
- elsif @course.sem == 4
  %th 2nd
  %th 4th

