= raw notice
= render "admin_dash" if is_admin?
#liz{:style => "position: fixed; width: 300px; right: 10px; bottom: 10px"}
  %img{:src => "/images/lizlaptop.png", :style => "width: 170px; float: right; clear: both;"}
  %i{:style => "float: right; font-size: 15px; text-decoration: italicize bold;"} Likhang HopiangPaminta

