%h1= "New class for #{@schoolyear.start}"
-if Schoolyear.all.empty? || Subject.all.empty? || Faculty.all.empty? || @sections.empty?
  Please create Schoolyears, subjects, sections and faculties first.<br>
-else
  = render 'form'
