@import 'bootstrap';
.content {
  padding-top: 50px;
}
.navbar-inner{
  height: 40px;
}
input,
input[type="password"],
input[type="text"] {
  height: 20px;
}
.ui-widget-header{
  margin-top: 0;
  padding: 0px;
}

.center {
  text-align: center;
}
.redtext{
  color: red;
}

.orangetext{
  color: orange;
}
.gray{
  color: #888;
}
input.gradesheetinput {
  width: 50px;
}
.emphasize {
  font-weight: bold;
  color: red;
}
.capslock {
  text-transform: uppercase;
}
#quarter-stub {
  border: 2px solid #000;
  margin: 0;
  padding: 7px;
  width: 48%;
  float: left;
}
.page {
  display: inline-block;
  clear: both;
  page-break-after: auto;
  height: 1600px;
  width: 1050px;
}
.halfpage {
  display: inline-block;
  clear: both;
  page-break-after: auto;
  height: 1090px;
}
table.medium th, table.medium td {
  padding: 7px 8px;
  line-height: 13px;
}
table.smaller th, table.smaller td {
  padding: 7px 8px;
  line-height: 13px;
  text-align: center;
}
table.smallest th, table.smallest td {
  padding: 4px 8px;
  line-height: 10.5px;
  text-align: center;
}
table.smaller th{
  font-size: 14px;
}
table.smallest th {
  font-size: 13.5px;
}
.vertical-text{
  -webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
}
#clear {
  width: 100%;
  clear: both;
}
.btn a {
  color: #FFF;
}

