%table.withborder
  %thead
    %tr
      %td Attendance
      %td Hun
      %td Hul
      %td Ag
      %td Set
      %td Okt
      %td Nob
      %td Dis
      %td En
      %td Peb
      %td Mar
      %td Abr
      %td Total
  %tbody
    %tr
      %td Araw na may pasok
      - 12.times do |x|
        %td
    %tr
      %td Araw na pumasok
      - 12.times do
        %td
    %tr
      %td Ilang beses huli
      - 12.times do
        %td
    %tr
      %td Ilang klase ang di-napasukan
      - 12.times do
        %td

