%table.center.withborder{:style=>"margin: 10px 0px 20px;"}
  %thead
    %tr
      %th Mga Kilos at Gawi
      %th Sem 1
      %th Sem 2
  %tbody
    %tr
      %td Maayos ang kilos sa flag ceremony at mga programa sa paaralan
      %td
      %td
    %tr
      %td Malinis at maayos sa pangangatawan, pananamit at kagamitan
      %td
      %td
    %tr
      %td May kusa sa paggawa
      %td
      %td
    %tr
      %td Matapat sa salita at gawa
      %td
      %td
    %tr
      %td Bukas sa mga mungkahi ng iba
      %td
      %td
    %tr
      %td Mapamaraan sa wastong paglutas ng problema
      %td
      %td
    %tr
      %td Maingat sa paggamit ng mga pasilidad ng paaralan
      %td
      %td
    %tr
      %td Pumapasok nang handa sa paaralan
      %td
      %td
    %tr
      %td Ginagawa nang buong makakaya at kahusayan ang anumang gawaing ibinibigay sa kanya at natatapos sa takdang panahon
      %td
      %td
    %tr
      %td Gumagalang at umuunawa sa paniniwala at karapatan ng kapwa
      %td
      %td
    %tr
      %td Ibinabahagi ang kanyang mga ideya sa mga usaping pampaaralan at pambansa
      %td
      %td
%h4 Mga Marka
%table
  %tr
    %td 1 - Hindi Kailanman
    %td 2 - Bihira
    %td 3 - Paminsan-minsan
  %tr
  %td 4 - Madalas
  %td 5 - Palagi

