%table.smallest.center{:style=>"margin: 10px 0px 20px;"}
  %thead
    %tr
      %th{:style => "width:140px;"}
        Average ng mga
        nakuhang
        puntos (sa %)
      %th Katumbas na Marka
      %th Deskripsyon ng Marka
  %tbody
    %tr
      %td 96 - 100
      %td 1.0
    %tr
      %td 91 - 95
      %td 1.25
      %td{:colspan => 2}Pinakamahusay
    %tr
      %td 86 - 90
      %td 1.5
    %tr
      %td 80 - 85
      %td 1.75
      %td{:colspan => 2} Mas Mahusay
    %tr
      %td 74 - 79
      %td 2.0
    %tr
      %td 68 - 73
      %td 2.25
      %td{:colspan => 2} Mahusay
    %tr
      %td 62 - 67
      %td 2.5
    %tr
      %td 56 - 61
      %td 2.75
      %td{:colspan => 2} Katamtamang Husay
    %tr
      %td 50 - 55
      %td 3.0
      %td Pasado
    %tr
      %td 40 - 49
      %td 4.0
      %td Di-pasado (kondisyonal)
    %tr
      %td 0 - 39
      %td 5.0
      %td Di-pasado
    %tr
      %td
      %td Inc.
      %td Di-Kumpleto

